.top__menu {
  background: #fff;
  -webkit-box-shadow: 0px 8px 21px -7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 8px 21px -7px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 8px 21px -7px rgba(0, 0, 0, 0.3);
  border: 1px solid #ddd;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative; }
  .top__menu .nav-link {
    color: #000;
    position: relative; }
    .top__menu .nav-link span {
      position: absolute;
      top: 0;
      right: 1px;
      width: 20px;
      height: 20px;
      background: red;
      text-align: center;
      border-radius: 100%;
      color: #fff;
      font-size: 14px;
      font-weight: bold; }
  .top__menu--ul {
    display: flex;
    justify-content: center;
    align-items: center; }

.banner__component--show {
  margin: 30px 0;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  -webkit-box-shadow: 0px 8px 27px -2px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 8px 27px -2px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 8px 27px -2px rgba(0, 0, 0, 0.44);
  position: relative;
  overflow: hidden;
  border-radius: 10px; }
  .banner__component--show:hover .fa {
    transform: scale(1.2); }
  .banner__component--show .number_render {
    color: #fff; }
  .banner__component--show .fa {
    font-size: 40px;
    color: #fff;
    transform: scale(1);
    transition: all 0.4s ease-in-out; }

.separator {
  margin: 3rem 0;
  border-bottom: 1px dashed #fff; }

.text-uppercase {
  letter-spacing: 0.1em; }

.text-gray {
  color: #aaa; }

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  overflow-y: auto; }

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
  height: 100vh; }

/* for toggle behavior */
#sidebar.active {
  margin-left: -17rem; }

#content.active {
  width: 100%;
  margin: 0; }

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem; }
    #sidebar.active {
      margin-left: 0; }

  #content {
    width: 100%;
    margin: 0; }
    #content.active {
      margin-left: 17rem;
      width: calc(100% - 17rem); } }
body {
  background: #F8F9FA; }
  body a {
    color: #fff; }
    body a:hover {
      color: #fff; }
  body .btn:focus {
    outline: none; }

.new_btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green; }
  .new_btn .fa {
    font-size: 25px;
    color: #fff; }

.router-link-exact-active {
  background: #fff;
  color: #000 !important;
  font-weight: bold; }
  .router-link-exact-active .fa {
    color: #000 !important; }

.add_active .nav-link .fa {
  color: #fff; }

.rotate {
  transform: rotate(-90deg);
  transition: all 0.3s ease-in-out; }

.fa-angle-left {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px; }

.pagination .page-item.active .page-link {
  background-color: #000;
  border: 0; }
  .pagination .page-item.active .page-link:focus {
    outline: none;
    box-shadow: none; }
.pagination .page-item:last-child .page-link, .pagination .page-item:first-child .page-link {
  border-radius: 100%; }
.pagination .disabled:hover {
  cursor: not-allowed; }
.pagination .disabled .page-link {
  color: #ccc !important; }
.pagination .page-link {
  color: #000;
  background: #fff;
  margin: 0 5px;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.sub__menu {
  list-style: none;
  padding-left: 25%;
  display: none; }

.show_sub {
  display: block; }

#sidebarCollapse {
  position: absolute;
  top: 10px;
  left: 10px; }
  #sidebarCollapse .fa-bars {
    font-size: 35px; }

/*# sourceMappingURL=style.css.map */
