@import "../variable";
.gender__component{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  &--image{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    img{
      transform: scale(1.01);
      transition: $transition1;
    }
    &:hover{
      .overlay-image, .gender__component--title{
        opacity: 1;
        visibility: inherit;
        transition: $transition1;
      }
      img{
        transform: scale(1.08);
      }
    }
    .overlay-image{
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.5);
      position: absolute;
      top:0;
      left:0;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
    }
  }
  &--title{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
  }
}
.banner{
  width: 100%;
  height: auto;
  position: relative;
  .banner__left{
    width: 100%;
    height: 800px;
  }
}